/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Playwrite US Trad", cursive;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .header{
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.74);
  }
  .menu_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    a{
        color: black;
        text-decoration: none;
        font-size: 36px;
    }
  }
  .menu_item:not(:last-child){
    margin-right: 15px;
  }


  .main_page{
    position: relative;
    height: 100%;
    &::before{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(192, 14, 14);
        z-index: 1;
        opacity: 0.2;
    }
  }
  .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .html{
    height: 100%;
  }



  .box{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .background2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: none;
  }


  @media (max-width: 600px) {
    .background{
        display: none;
    }
    .background2{
        display: block !important;
    }
  }

.photo_list{
    display: flex;
    justify-content: center;
    height: 100%;
}
.my_photo{
  display: none;
  object-fit: cover;
  width: 100%;
  
}
.my_photo.visible{
  display: block;
}

.random_photo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-family: "Playwrite US Trad", cursive;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
}

.photo_page{
    height: 100%;
}

.photo{
    height: 100%;
}


.comp_html{
    height: 100%;
}
.comp_body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("photo/horny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
    }
}

.comp_item{
    font-size: 38px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 50px;
    color: white;
}

.btn_comp{
    height: 90px;
    border: none;
    background-color: rgb(197, 39, 39);
    color: white;
    font-size: 25px;
    position: relative;
    z-index: 2;
}